<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<style>
   table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 70%;
   }
   td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
   }
</style>


  <table>

    <div class="field">
      <tr>
      <td class="required"><%= f.label :price %></td>
      <td><%= f.number_field :price, :step => 0.01, :min =>0, :value =>0.00, :precision =>2, :required => true %></td>
      </tr>
    </tr>
    </div>

  <div class="field">
    <tr>
    <td class="required"><%= f.label :food_description %></td>
    <td><%= f.text_area :food_description, :required => true %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td class="required"><%= f.label :start_time %> (Must be after current time)</td>
    <td><%= f.datetime_select :start_time, min: Time.now, :ampm =>true %></td>
    </tr>
  </div>

    <div class="field">
      <tr>
      <td class="required"><%= f.label :end_time %> (Minimum 5 minutes after deliver after)</td>
      <td><%= f.datetime_select :end_time, max: Time.now + 14400, :ampm =>true%></td>
      </tr>
    </div>

  <div class="field">
    <tr>
    <td class="required"><%= f.label :location %></td>
    <td><%= f.text_field :location, :required => true %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td class="required"><%= f.label :exchange_method %></td>
    <td><%= f.select :exchange_method, [['Swipe','Swipe'],['Delivery','Delivery']] %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :special_request %></td>
    <td><%= f.text_area :special_request %></td>
     </tr>
  </div>
</table>

  <div class="actions">
    <%= f.submit :id=>"submit"  %> <span name="fill">Fill all required fields</span>
  </div>
<% end %>
<script>
    $(document).ready(function() {
        $('#submit').prop('disabled', true);
        $('input').change(function(e){
            if ($('#request_price').val() && $('#request_food_description').val() && validateTime(putTogether($('#request_start_time_1i').val(),$('#request_start_time_2i').val(), $('#request_start_time_3i').val(), $('#request_start_time_4i').val(), $('#request_start_time_5i').val()))){
                $('#submit').prop('disabled', false);
                document.getElementByID('fill').style.visibility = 'hidden';
            }
            else{
                $('#submit').prop('disabled', true);
                document.getElementByID('fill').style.visibility = 'visible';
            }
        });
        $('#request_start_time_1i').on('change', function(){
            if ($('#request_price').val() && $('#request_food_description').val() && validateTime(putTogether($('#request_start_time_1i').val(),$('#request_start_time_2i').val(), $('#request_start_time_3i').val(), $('#request_start_time_4i').val(), $('#request_start_time_5i').val()))){
                $('#submit').prop('disabled', false);
                document.getElementByID('fill').style.visibility = 'hidden';
            }
            else{
                $('#submit').prop('disabled', true);
                document.getElementByID('fill').style.visibility = 'visible';
            }
        });
        $('#request_start_time_2i').on('change', function(){
            if ($('#request_price').val() && $('#request_food_description').val() && validateTime(putTogether($('#request_start_time_1i').val(),$('#request_start_time_2i').val(), $('#request_start_time_3i').val(), $('#request_start_time_4i').val(), $('#request_start_time_5i').val()))){
                $('#submit').prop('disabled', false);
                document.getElementByID('fill').style.visibility = 'hidden';
            }
            else{
                $('#submit').prop('disabled', true);
                document.getElementByID('fill').style.visibility = 'visible';
            }
        });
        $('#request_start_time_3i').on('change', function(){
            if ($('#request_price').val() && $('#request_food_description').val() && validateTime(putTogether($('#request_start_time_1i').val(),$('#request_start_time_2i').val(), $('#request_start_time_3i').val(), $('#request_start_time_4i').val(), $('#request_start_time_5i').val()))){
                $('#submit').prop('disabled', false);
                document.getElementByID('fill').style.visibility = 'hidden';
            }
            else{
                $('#submit').prop('disabled', true);
                document.getElementByID('fill').style.visibility = 'visible';
            }
        });
        $('#request_start_time_4i').on('change', function(){
            if ($('#request_price').val() && $('#request_food_description').val() && validateTime(putTogether($('#request_start_time_1i').val(),$('#request_start_time_2i').val(), $('#request_start_time_3i').val(), $('#request_start_time_4i').val(), $('#request_start_time_5i').val()))){
                $('#submit').prop('disabled', false);
                document.getElementByID('fill').style.visibility = 'hidden';
            }
            else{
                $('#submit').prop('disabled', true);
                document.getElementByID('fill').style.visibility = 'visible';
            }
        });
        $('#request_start_time_5i').on('change', function(){
            if ($('#request_price').val() && $('#request_food_description').val() && validateTime(putTogether($('#request_start_time_1i').val(),$('#request_start_time_2i').val(), $('#request_start_time_3i').val(), $('#request_start_time_4i').val(), $('#request_start_time_5i').val()))){
                $('#submit').prop('disabled', false);
                document.getElementByID('fill').style.visibility = 'hidden';
            }
            else{
                $('#submit').prop('disabled', true);
                document.getElementByID('fill').style.visibility = 'visible';
            }
        });
    });

    var validateTime = function(time){
        var now = new Date();
        return (Date.parse(now)) < (Date.parse(time));
    };
    var putTogether = function(year, month, day, hour, minute){
        var together = new Date(year + " " + month + " " + day + " " + hour + ":" + minute);
        return together;
    };
</script>