<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<style>
   table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 70%;
   }
   td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
   }
</style>

  <table>
    <div class="field">
      <tr>
      <td><%= f.label :buyer_rating %></td>
      <td><%= f.number_field :buyer_rating, :step => 1, :min =>1, :max=>5%></td>
      </tr>
    </tr>
    </div>

    <div class="field">
      <tr>
      <td><%= f.label :price %></td>
      <td><%= f.number_field :price, :step => 0.01, :min =>0, :value =>0.00%></td>
      </tr>
    </tr>
    </div>

  <div class="field">
    <tr>
    <td><%= f.label :food_description %></td>
    <td><%= f.text_area :food_description %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :start_time %></td>
    <td><%= f.datetime_select :start_time, :ampm =>true %></td>
    </tr>
  </div>

    <div class="field">
      <tr>
      <td><%= f.label :end_time %></td>
      <td><%= f.datetime_select :end_time, :ampm =>true%></td>
      </tr>
    </div>

  <div class="field">
    <tr>
    <td><%= f.label :location %></td>
    <td><%= f.text_field :location %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :exchange_method %></td>
    <td><%= f.select :exchange_method, [['Swipe','Swipe'],['Delivery','Delivery']] %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :special_request %></td>
    <td><%= f.text_area :special_request %></td>
     </tr>
  </div>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
