<p id="notice"><%= notice %></p>

<h1>Requests</h1>
<br>
<style>
  table, th {
    border-bottom: 2px solid;
    padding: 10px;
    white-space: nowrap;
    table-layout: fixed;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  td {
    border-bottom: 1px solid;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
  }
</style>
<table>
  <thead>
  <tr>
    <th>Poster Rating</th>
    <th>Poster</th>
    <th>Food Description</th>
    <th>Price</th>
    <th>Time Period</th>
    <th>Location</th>
    <th>Exchange Method</th>
    <th>Special Request</th>
    <th colspan="3" style="text-align:center">View</th>
  </tr>
  </thead>

  <tbody>
  <% @requests.each do |request| %>
      <tr id="highlight">
        <td><%= request.buyer_rating %></td>
        <td><%= request.buyer %></td>
        <td style="width:50px;text-overflow:ellipsis"><%= request.food_description %></td>
        <td><%= request.price %></td>
        <td><%= request.time_period %></td>
        <td><%= request.location %></td>
        <td><%= request.exchange_method %></td>
        <td><%= request.special_request %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <!--<td><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
