<p id="notice"><%= notice %></p>
<br>
<h1 style="text-align:center">Requests</h1>
<br>
<style>
  table, th {
    border-bottom: 2px solid;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    table-layout: fixed;
    text-overflow: ellipsis;
    width: 100%;
  }
  td {
    border-bottom: 1px solid;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 4px ;
    cursor: pointer;
  }
</style>
<a class="button" href="/requests/new" style="text-decoration:none; color:white; float:right">New Request</a>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Requests')" id="defaultOpen">All Requests</button>
  <button class="tablinks" onclick="openTab(event, 'Posts')">Your Requests</button>
  <button class="tablinks" onclick="openTab(event, 'Accepted')">Accepted Requests</button>
</div>

<div id="Requests" class="tabcontent">
  <table>
    <thead>
    <tr>
      <th>Rating</th>
      <th>Food Description</th>
      <th>Price</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Location</th>
    </tr>
    </thead>

    <tbody>
    <% @requests.each do |request| %>
        <% if (request.user_other_id == nil) && request.user_id != current_user.id %>
            <tr class="highlight">
              <td onclick="location.href='<%= url_for(request) %>';">
                <% if (request.buyer_rating == 1)%>
                <%= image_tag("1stars.png", :alt => "1 star", :height =>20, :width =>'75%') %>
                <% end %>
                <% if (request.buyer_rating == 2)%>
                <%= image_tag("2stars.png", :alt => "2 star", :height =>20, :width =>'75%') %>
                <% end %>
                <% if (request.buyer_rating == 3)%>
                <%= image_tag("3stars.png", :alt => "3 star", :height =>20, :width =>'75%') %>
                <% end %>
                <% if (request.buyer_rating == 4)%>
                <%= image_tag("4stars.png", :alt => "4 star", :height =>20, :width =>'75%') %>
                <% end %>
                <% if (request.buyer_rating == 5)%>
                <%= image_tag("5stars.png", :alt => "5 star", :height =>20, :width =>'75%') %>
                <% end %>
                <div onmousemove="movePopup(event)" class="popup">Click to expand</div>
              </td>
              <td onclick="location.href='<%= url_for(request) %>';" style="max-width:200px;text-overflow:ellipsis"><%= request.food_description %></td>
              <td onclick="location.href='<%= url_for(request) %>';">$<%= number_with_precision(request.price, :precision => 2) %></td>
              <td onclick="location.href='<%= url_for(request) %>';"><%= request.start_time.strftime("%B %d") %></td>
              <td onclick="location.href='<%= url_for(request) %>';"><%= request.start_time.strftime('%I:%M %p') %></td>
              <td onclick="location.href='<%= url_for(request) %>';"><%= request.end_time.strftime('%I:%M %p') %></td>
              <td onclick="location.href='<%= url_for(request) %>';"><%= request.location %></td>
            </tr>
        <%end%>
    <% end %>
    </tbody>
  </table>
  <br>
</div>

<div id="Posts" class="tabcontent">
  <table>
    <thead>
    <tr>
      <th>Status</th>
      <th>Food Description</th>
      <th>Price</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Location</th>
      <th colspan="2" style="text-align:center">View</th>
    </tr>
    </thead>

    <tbody>
    <% @user_posted_requests.each do |request| %>
        <tr class="highlight">
          <td onclick="location.href='<%= url_for(request) %>';"><% if request.user_other_id==nil%>Not Accepted<% else %>Accepted<% end %><div class="popup">Click to expand</div></td>
          <td onclick="location.href='<%= url_for(request) %>';" style="max-width:100px;text-overflow:ellipsis"><%= request.food_description %></td>
          <td onclick="location.href='<%= url_for(request) %>';">$<%= number_with_precision(request.price, :precision => 2) %></td>
          <td onclick="location.href='<%= url_for(request) %>';"><%= request.start_time.strftime("%B %d") %></td>
          <td onclick="location.href='<%= url_for(request) %>';"><%= request.start_time.strftime('%I:%M %p') %></td>
          <td onclick="location.href='<%= url_for(request) %>';"><%= request.end_time.strftime('%I:%M %p') %></td>
          <td onclick="location.href='<%= url_for(request) %>';"><%= request.location %></td>
          <% if request.user_other_id == nil %>
              <td><%= link_to 'Edit', edit_request_path(request) %></td>
              <td><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure you want to delete this request?' } %></td>
          <% elsif request.start_time < Time.now %>
              <td><%= link_to 'Reject Acceptor', request, method: :delete, data: { confirm: 'Are you sure you want to cancel this request?' } %></td>
          <% else %>
              <td><%= link_to 'Rate', new_rating_path(id: request.id, user_id: request.user_id)%></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>

</div>

<div id="Accepted" class="tabcontent">
  <table>
    <thead>
    <tr>
      <th>Poster Rating</th>
      <th>Food Description</th>
      <th>Price</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Location</th>
      <th colspan="2" style="text-align:center">View</th>
    </tr>
    </thead>

    <tbody>
    <% @user_accepted_requests.each do |request| %>
        <tr class="highlight">
          <td onclick="location.href='<%= url_for(request) %>';">
                <% if (request.buyer_rating == 1)%>
                <%= image_tag("1stars.png", :alt => "1 star", :height =>20, :width =>'75%') %>
                <% end %>
                <% if (request.buyer_rating == 2)%>
                <%= image_tag("2stars.png", :alt => "2 star", :height =>20, :width =>'75%') %>
                <% end %>
                <% if (request.buyer_rating == 3)%>
                <%= image_tag("3stars.png", :alt => "3 star", :height =>20, :width =>'75%') %>
                <% end %>
                <% if (request.buyer_rating == 4)%>
                <%= image_tag("4stars.png", :alt => "4 star", :height =>20, :width =>'75%') %>
                <% end %>
                <% if (request.buyer_rating == 5)%>
                <%= image_tag("5stars.png", :alt => "5 star", :height =>20, :width =>'75%') %>
                <% end %>
                <div onmousemove="movePopup(event)" class="popup">Click to expand</div>
              </td>
          <td onclick="location.href='<%= url_for(request) %>';" style="width:50px;text-overflow:ellipsis"><%= request.food_description %></td>
          <td onclick="location.href='<%= url_for(request) %>';">$<%= number_with_precision(request.price, :precision => 2) %></td>
          <td onclick="location.href='<%= url_for(request) %>';"><%= request.start_time.strftime("%B %d") %></td>
          <td onclick="location.href='<%= url_for(request) %>';"><%= request.start_time.strftime('%I:%M %p') %></td>
          <td onclick="location.href='<%= url_for(request) %>';"><%= request.end_time.strftime('%I:%M %p') %></td>
          <td onclick="location.href='<%= url_for(request) %>';"><%= request.location %></td>
          <% if request.end_time > Time.now && request.start_time < Time.now %>
              <td colspan="2"><%= link_to 'Cancel', accept_request_path(id: request.id), method: :post %></td>
          <% else %>
              <td><%= link_to 'Rate', new_rating_path(id: request.id, user_id: request.user_id)%></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>

<script>
    //        var mouseX;
    //        var mouseY;
    //        $(document).mousemove( function(e) {
    //          mouseX = e.pageX;
    //          mouseY = e.pageY;
    //        });
    $(document).ready(function(){
        $('.highlight').hover(function() {
//                $(this).find('.popup').css({'left':mouseX, 'top':mouseY});
            $(this).find('.popup').show();
        }, function() {
            $(this).find('.popup').hide();
        })
    });
    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
      

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
