<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @request.buyer_rating %>
</p>
<p>
  <strong>User:</strong>
  <%= @request.buyer %>
</p>
<p>
  <strong>Price:</strong>
  $<%= @request.price %>
</p>

<p>
  <strong>Food description:</strong>
  <%= @request.food_description %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @request.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @request.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @request.location %>
</p>

<p>
  <strong>Exchange method:</strong>
  <%= @request.exchange_method %>
</p>

<p>
  <strong>Special request:</strong>
  <%= @request.special_request %>
</p>
<%if current_user.id == @request.user_id %>
  <%= link_to 'Edit', edit_request_path(@request) %> |
  <%= link_to 'Back', requests_path %>
<%else%>
    <%= link_to 'Accept', accept_request_path(id: @request.id), method: :post %>
    <%= link_to 'Back', requests_path %>
<%end%>