<p id="notice"><%= notice %></p>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 31%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<br>
<table>

  <%if current_user.id == @request.user_id %>
      <h1>Showing Your Request</h1>
      <p>
        <tr>
          <td><strong>Rating:</strong></td>
          <td><%= @request.acceptor_rating %></td>
        </tr>
      </p>
      <p>
        <tr>
          <td><strong>User:</strong></td>
          <td><%= @request.acceptor_name %></td>
        </tr>
      </p>
  <%else%>
      <h1>Showing <%= @request.poster_name %>'s Request</h1>
      <p>
        <tr>
          <td><strong>Rating:</strong></td>
          <td><%= @request.poster_rating %></td>
        </tr>
      </p>
      <p>
        <tr>
          <td><strong>User:</strong></td>
          <td><%= @request.poster_name %></td>
        </tr>
      </p>
  <%end%>

  <p>
    <tr>
      <td><strong>Price:</strong></td>
      <td>$<%= @request.price %></td>
    </tr>
  </p>

  <p>
    <tr>
      <td><strong>Food description:</strong></td>
      <td><%= @request.food_description %></td>
    </tr>
  </p>

<p>
 <tr>
  <td><strong>Date:</strong></td>
  <td><%= @request.start_time.strftime("%B %d, %Y") %></td>
  </tr>
</p>

<p>
  <tr>
  <td><strong>Start Time:</strong></td>
  <td><%= @request.start_time.strftime('%I:%M:%S %p') %></td>
  </tr>
</p>
<p>
  <tr>
  <td><strong>End Time:</strong></td>
  <td><%= @request.end_time.strftime('%I:%M:%S %p') %></td>
  </tr>
</p>

  <p>
    <tr>
      <td><strong>Location:</strong></td>
      <td><%= @request.location %></td>
    </tr>
  </p>

  <p>
    <tr>
      <td><strong>Exchange method:</strong></td>
      <td><%= @request.exchange_method %></td>
    </tr>
  </p>

  <p>
    <tr>
      <td><strong>Special request:</strong></td>
      <td><%= @request.special_request %></td>
    </tr>
  </p>
</table>

<%if current_user.id == @request.user_id %>
    <%= link_to 'Edit', edit_request_path(@request) %> |
    <%= link_to 'Back', requests_path %>
<%elsif current_user.id != @request.user_other_id %>
    <%= link_to 'Accept', accept_request_path(id: @request.id), method: :post %> |
    <%= link_to 'Back', requests_path %>
<%else %>
    <%= link_to 'Back', requests_path %>
<%end%>