<p id="notice"><%= notice %></p>

<style>
   table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 31%;
   }
   td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
   }
</style>

<table>

  <%if current_user.id == @request.user_id %>
      <p>
        <strong>Rating:</strong>
        <%= @request.seller_rating %>
      </p>
      <p>
        <strong>User:</strong>
        <%= @request.seller %>
      </p>
  <%else%>
      <p>
        <strong>Rating:</strong>
        <%= @request.buyer_rating %>
      </p>
      <p>
        <strong>User:</strong>
        <%= @request.buyer %>
      </p>
  <%end%>

<p>
  <tr>
  <td><strong>Price:</strong></td>
  <td>$<%= @request.price %></td>
  </tr>
</p>

<p>
  <tr>
  <td><strong>Food description:</strong></td>
  <td><%= @request.food_description %></td>
  </tr>
</p>

<p>
  <tr>
  <td><strong>Start Time:</strong></td>
  <td><%= @request.start_time %></td>
  </tr>
</p>
<p>
  <tr>
  <td><strong>End Time:</strong></td>
  <td><%= @request.end_time %></td>
  </tr>
</p>

<p>
  <tr>
  <td><strong>Location:</strong></td>
  <td><%= @request.location %></td>
  </tr>
</p>

<p>
  <tr>
  <td><strong>Exchange method:</strong></td>
  <td><%= @request.exchange_method %></td>
  </tr>
</p>

<p>
  <tr>
  <td><strong>Special request:</strong></td>
  <td><%= @request.special_request %></td>
  </tr>
</p>
</table>

<%if current_user.id == @request.user_id %>
  <%= link_to 'Edit', edit_request_path(@request) %> |
  <%= link_to 'Back', requests_path %>
<%else%>
    <%= link_to 'Accept', accept_request_path(id: @request.id), method: :post %>
    <%= link_to 'Back', requests_path %>
<%end%>