<%= form_for(rating) do |f| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style>
   table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 70%;
   }
   td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
   }
</style>

<table>
  <div class="field" style="display: none">
    <%= f.text_area :user_id, :value => params[:user_id].to_i  %>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :location %></td>
    <td><%= f.number_field :location, :step => 1, :min =>1, :max=>5 %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :communication %></td>
    <td><%= f.number_field :communication, :step => 1, :min =>1, :max=>5 %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :payment %></td>
    <td><%= f.number_field :payment, :step => 1, :min =>1, :max=>5 %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :overall %></td>
    <td><%= f.number_field :overall, :step => 1, :min =>1, :max=>5 %></td>
    </tr>
  </div>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
