<%= form_for(rating) do |f| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style>
   table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 70%;
   }
   td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
   }
</style>

<table>
  <div class="field">
    <tr>
    <td><%= f.label :user_id %></td>
    <td><%= f.text_field :user_id%> </td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :location %></td>
    <td><%= f.collection_radio_buttons :location, [[1] ,[2], [3], [4], [5]],
                                       :first, :last, { item_wrapper_tag: false } %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :communication %></td>
      <td><%= f.collection_radio_buttons :communication, [[1] ,[2], [3], [4], [5]],
                                         :first, :last, { item_wrapper_tag: false } %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :payment %></td>
      <td><%= f.collection_radio_buttons :payment, [[1] ,[2], [3], [4], [5]],
                                         :first, :last, { item_wrapper_tag: false } %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <td><%= f.label :overall %></td>
      <td><%= f.collection_radio_buttons :overall, [[1] ,[2], [3], [4], [5]],
                                         :first, :last, { item_wrapper_tag: false } %></td>
    </tr>
  </div>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
