<p id="notice"><%= notice %></p>
<br><br>
<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Communication</th>
      <th>Payment</th>
      <th>Overall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.user_id %></td>
        <td><%= rating.location %></td>
        <td><%= rating.communication %></td>
        <td><%= rating.payment %></td>
        <td><%= rating.overall %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', @requests_path %>
