<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @rating.location %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @rating.communication %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @rating.payment %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @rating.overall %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
