<!DOCTYPE html>
<html>

<head>
  <title>UPoints</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>


<body>
    <div class="navbar navbar-default navbar-fixed-top animated-short solidfill" role="navigation" id="loggedin">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      UPoints <i class="fa fa-heart animated-short fadeIn delay-05s"></i> <em>Eat Cheap</em>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <li><a href="/requests">Requests</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.first_name+' '+ current_user.last_name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" role="menu">
              <li><a><%= link_to 'Profile', edit_user_registration_path %></a></li>
              <li><a><%= link_to 'Log out', destroy_user_session_path, method: :delete %></a></li>
            </ul>
          </li>
      <% else %>
          <li><a href="/users/sign_up">Sign Up</a></li>
          <li><a href="/users/sign_in">Log In</a></li>
      <% end %>
    </ul>
  </div>
</div>
</div>
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>
</div>

<%= yield :top_content %>

<div class="transparent-background">
  <h1><%= yield :header %></h1>
  <%= yield %>
</div>
</body>



</html>