<!DOCTYPE html>
<html>
<head>
  <title>UPoints</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    body {margin:0;}

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
    }

    li {
      float: left;
      border-right: 1px solid #bbb;
    }
    a {
      text-decoration:none;
    }
    a:hover{
      color:#FFF
    }
    li a, .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
      font-size: 18px;
      border-left: 1px solid #bbb;
    }
    button:last-child {
      border-right: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }
    li.active {
      background-color: #4CAF50;
    }
    .dropbtn {
      background-color: #333;
      color: white;
      padding: 16px;
      font-size: 14px;
      border: none;
      cursor: pointer;
      border-left: 1px solid #bbb;
    }

    .dropbtn:hover, .dropbtn:focus {
      background-color: black;
    }

    .dropdown {
      float: right;
      position: relative;
      display: inline-block;

    }

    .dropdown-content {
      display: none;
      background-color: #f9f9f9;
      min-width: 160px;
      overflow: hidden;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      right: 0;
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover {background-color: #f1f1f1}

    .show {display:block;}
  </style>

</head>

<body>

<ul>
  <li class="active"><a href="/" style="color:white; text-decoration:none">UPoints</a></li>
  <li><a href="/requests" style="color:white; text-decoration:none; font-size:14px" >Requests</a></li>

  <% if user_signed_in? %>
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()"style="float:right; text-decoration:none">
          <%= current_user.first_name+' '+ current_user.last_name %>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <a href="users/edit">Profile</a>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        </div>
      </div>
      <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
      </script>
  <% else %>
      <li style="float:right"><a href="/users/sign_up" style="color:white; text-decoration:none; font-size:14px">Sign Up</a></li>
      <li style="float:right"><a href="/users/sign_in" style="color:white; text-decoration:none; font-size:14px">Log In</a></li>
  <% end %>
</ul>
<br><br>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>
</div>

<%= yield :top_content %>

<div class="container">
  <h1><%= yield :header %></h1>
  <%= yield %>
</div>
</body>
</html>
<!--<nav class="navbar navbar-inverse">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<%= link_to 'UPoints', root_path, {:style=>'color:#3CBC3C;', :class => 'navbar-brand'} %>-->

<!--</div>-->
<!--<div id="navbar" onMouseOver="this.style.color='#3CBC3C'">-->
<!--<ul class="nav navbar-nav">-->
<!--<li><%= link_to 'Requests', requests_path%></li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav pull-right">-->
<!--<% if user_signed_in? %>-->
    <!--<li class="dropdown">-->
    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" >-->
    <!--<%= current_user.first_name+' '+ current_user.last_name %>-->
    <!--<span class="caret"></span>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li><%= link_to 'Profile', edit_user_registration_path %></li>-->
    <!--<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<% else %>-->
    <!--<li><%= link_to 'Log In', new_user_session_path %></li>-->
    <!--<li><%= link_to 'Sign Up', new_user_registration_path %></li>-->
    <!--<% end %>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->