<!DOCTYPE html>
<html>
<head>
  <title>UPoints</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    body {margin:0;}

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
    }

    li {
      float: left;
      border-right: 1px solid #bbb;
    }
    a {
      text-decoration:none;
    }
    a:hover{
      color:#FFF
    }
    li a, .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
      font-size: 18px;
      border-left: 1px solid #bbb;
    }
    button:last-child {
      border-right: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }
    li.active {
      background-color: #4CAF50;
    }
    .dropbtn {
      background-color: #333;
      color: white;
      padding: 16px;
      font-size: 14px;
      border: none;
      cursor: pointer;
      border-left: 1px solid #bbb;
    }

    .dropbtn:hover, .dropbtn:focus {
      background-color: black;
    }

    .dropdown {
      right:0;
      position: absolute;
      display: inline-block;

    }

    .dropdown-content {
      display: none;
      background-color: #f9f9f9;
      min-width: 160px;
      overflow: hidden;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      right: 0;
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover {background-color: #f1f1f1}

    .show {display:block;}
  </style>

</head>

<body>

<ul>
  <li class="active"><a href="/" style="color:white; text-decoration:none">UPoints</a></li>
  <li><a href="/requests" style="color:white; text-decoration:none; font-size:14px" >Requests</a></li>
</ul>
<% if user_signed_in? %>
    <div class="dropdown">
      <button class="dropbtn" onclick="myFunction()"style="float:right; text-decoration:none; height:50px">
        <%= current_user.first_name+' '+ current_user.last_name %>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <%= link_to 'Profile', edit_user_registration_path %></a>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      </div>
    </div>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
<% else %>
    <div class="dropdown">
      <li style="float:right"><a href="/users/sign_up" style="color:white; text-decoration:none; font-size:14px; height:50px">Sign Up</a></li>
      <li style="float:right"><a href="/users/sign_in" style="color:white; text-decoration:none; font-size:14px; height:50px">Log In</a></li>
    </div>
<% end %>
<br><br>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>
</div>

<%= yield :top_content %>

<div class="container">
  <h1><%= yield :header %></h1>
  <%= yield %>
</div>
</body>
</html>
